*{
    margin: 0;
    padding: 0;
}
body{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
.canvas{
    box-sizing: border-box;
    
}
h1{
    padding: 10px;
}
button{
    margin: 5px;
    gap: 15px;
    padding: 15px;
}