*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
.canvas{
    box-sizing: border-box;
    border: 1px solid gray;
}